@import url("https://cdn.jsdelivr.net/npm/remixicon@4.9.1/fonts/remixicon.min.css");
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap";

body {
  background: #ccc;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  user-select: none;
  overflow: hidden;
}
