* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}

body {
  font-family: "Inter", sans-serif;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

.font-monospace {
  font-family: "Roboto Mono", monospace;
}
