@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@400..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  user-select: none;
  overflow: hidden;
}

img {
  -webkit-user-drag: none;
}
