.spectrumView {
  display: flex;
  gap: 6px;
  & > div {
    display: flex;
    flex-direction: column-reverse;
    gap: 7px;
    & > div {
      width: 44px;
      height: 3px;
      background: #000;
      &.active {
        background: #0fc;
      }
    }
  }
}
