@import "https://cdn.jsdelivr.net/npm/remixicon@4.9.1/fonts/remixicon.min.css";
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rajdhani", sans-serif;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}
