/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --font-inter: "Inter", sans-serif; */
  --font-saira: "Saira", sans-serif;
  /* --font-kanit: "Kanit", sans-serif; */
  /* --font-roboto-mono: "Roboto Mono", monospace; */

  --font-base: var(--font-saira);
  --font-base-weight: 400;
}

button {
  all: unset;
}

body {
  font-family: var(--font-base);
  font-weight: var(--font-base-weight);
  user-select: none;
}

img {
  -webkit-user-drag: none;
}
